// SPDX-License-Identifier: GPL-2.0+
/dts-v1/;

#include "aspeed-g5.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "SEADRA";
	compatible = "aspeed,ast2500-evb", "aspeed,ast2500";

	aliases {
		serial4 = &uart5;
	};

	chosen {
		stdout-path = &uart5;
		bootargs = "console=tty0 console=ttyS4,115200 earlycon";
	};

	memory@80000000 {
		reg = <0x80000000 0x20000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		gfx_memory: framebuffer {
			size = <0x01000000>;
			alignment = <0x01000000>;
			compatible = "shared-dma-pool";
			reusable;
		};

		video_engine_memory: jpegbuffer {
			size = <0x02000000>;	/* 32M */
			alignment = <0x01000000>;
			compatible = "shared-dma-pool";
			reusable;
		};
	};

	leds {
		compatible = "gpio-leds";

		heartbeat {
			gpios = <&gpio 41 0>;
			linux,default-trigger = "timer";
		};

		identify {
            gpios = <&gpio 2 1>;
        };
	};
};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";
		spi-max-frequency = <50000000>;
		#include "openbmc-flash-layout-64.dtsi"
	};
};

&spi1 {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "pnor";
		spi-max-frequency = <100000000>;
	};
};

&spi2 {
	status = "okay";
};

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_txd1_default
		     	 &pinctrl_rxd1_default>;
};

&uart3 {
	status = "okay";
};

&uart5 {
	status = "okay";
};

&mac0 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii1_default &pinctrl_mdio1_default>;
};

&mac1 {
	status = "disabled";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii2_default &pinctrl_mdio2_default>;
};

&espi {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_espi_default>;
};

&lpc_reset {
    status = "okay";
};

&kcs3 {
	status = "okay";
	aspeed,lpc-io-reg = <0xca2>;
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";

	bmc_fru: eeprom@53 {
		compatible = "microchip,24c512", "atmel,24c512";
		reg = <0x53>;
		pagesize = <128>;
	};

	inlet_temp: emc1414@7c {
		compatible = "microchip,emc1414";
		reg = <0x7c>;
	};

	outlet_temp: tmp468@48 {
		compatible = "ti,tmp468";
		reg = <0x48>;
	};
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&i2c5 {
	status = "okay";

	psu0_fru: eeprom@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
	};
	psu0_pmbus: pmbus@58 {
		compatible = "pmbus";
		reg = <0x58>;
	};
};

&i2c6 {
	status = "okay";
};

&i2c7 {
	status = "okay";
};

&sdmmc {
	status = "okay";
};

&sdhci0 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sd1_default>;
};

/*
 * Enable port A as device (via the virtual hub) and port B as
 * host by default on the eval board. This can be easily changed
 * by replacing the override below with &ehci0 { ... } to enable
 * host on both ports.
 */
&vhub {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&uhci {
	status = "okay";
};

&gfx {
	status = "okay";
	memory-region = <&gfx_memory>;
};

&video {
	status = "okay";
	memory-region = <&video_engine_memory>;
};

&rtc {
	status = "okay";
};

&gpio {
   status = "okay";
   gpio-line-names =
   /*A0-A7*/   "","","LED_UID","","","","","",
   /*B0-B7*/   "","LED_HEALTH_GREEN","LED_HEALTH_RED","","","","","ME_RECOVERY_N",
   /*C0-C7*/   "","","","","","","","",
   /*D0-D7*/   "","","","","","","","",
   /*E0-E7*/   "","BMC_READY","RESET_BUTTON","RESET_OUT","NMI_BUTTON","NMI_OUT","POWER_BUTTON","POWER_OUT",
   /*F0-F7*/   "","BMC_HEARTBEAT","","PCH_ME_DESC_OVERRIDE","","","","",
   /*G0-G7*/   "","","","","","","","",
   /*H0-H7*/   "","","","","POST_COMPLETE","","","",
   /*I0-I7*/   "","","","","","","","",
   /*J0-J7*/   "","","","","","","","",
   /*K0-K7*/   "","","","","","","","",
   /*L0-L7*/   "","","","","","","","",
   /*M0-M7*/   "","","","","","","","",
   /*N0-N7*/   "","","","","","","","",
   /*O0-O7*/   "","","","","","","","",
   /*P0-P7*/   "","","","","","","","",
   /*Q0-Q7*/   "","","","","","","","",
   /*R0-R7*/   "","","","","","","","",
   /*S0-S7*/   "","PS_PWROK","","","","","","",
   /*T0-T7*/   "","","","","","","","",
   /*U0-U7*/   "","","","","","","","",
   /*V0-V7*/   "","","","","","","","",
   /*W0-W7*/   "","","","","","","","",
   /*X0-X7*/   "","","","","","","","",
   /*Y0-Y7*/   "","","","","","","","",
   /*Z0-Z7*/   "","","","","","","","",
   /*AA0-AA7*/ "","","","","","UID_BUTTON","","",
   /*AB0-AB7*/ "","","","","","","","",
   /*AC0-AC7*/ "","","","","","","","";


	bmc-ready {
		gpio-hog;
		gpios = <33 0>;
		output-low;
	};
};

&pwm_tacho {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm0_default
	             &pinctrl_pwm1_default
		     	 &pinctrl_pwm2_default
		     	 &pinctrl_pwm6_default
		     	 &pinctrl_pwm4_default
		     	 &pinctrl_pwm7_default>;
	fan@0 {
		reg = <0x00>;
		aspeed,fan-tach-ch = /bits/ 8 <0x00>;
	};

	fan@1 {
		reg = <0x00>;
		aspeed,fan-tach-ch = /bits/ 8 <0x01>;
	};

	fan@2 {
		reg = <0x01>;
		aspeed,fan-tach-ch = /bits/ 8 <0x02>;
	};

	fan@3 {
		reg = <0x01>;
		aspeed,fan-tach-ch = /bits/ 8 <0x03>;
	};

	fan@4 {
		reg = <0x02>;
		aspeed,fan-tach-ch = /bits/ 8 <0x04>;
	};

	fan@5 {
		reg = <0x02>;
		aspeed,fan-tach-ch = /bits/ 8 <0x05>;
	};

	fan@6 {
		reg = <0x06>;
		aspeed,fan-tach-ch = /bits/ 8 <0x0c>;
	};

	fan@7 {
		reg = <0x06>;
		aspeed,fan-tach-ch = /bits/ 8 <0x0d>;
	};

	fan@8 {
		reg = <0x04>;
		aspeed,fan-tach-ch = /bits/ 8 <0x08>;
	};

	fan@9 {
		reg = <0x04>;
		aspeed,fan-tach-ch = /bits/ 8 <0x09>;
	};

	fan@10 {
		reg = <0x07>;
		aspeed,fan-tach-ch = /bits/ 8 <0x0e>;
	};

	fan@11 {
		reg = <0x07>;
		aspeed,fan-tach-ch = /bits/ 8 <0x0f>;
	};
};
